.footer{
background-color: #753422;
height:14%;
color: #D79771;
padding: 10px;
margin-top: 20px;
font-family:Century Gothic;
font-size: 30px;
}

.footer p:hover{
color: #FFB085;
}

.Middle{
background-color:#406343;
width: 100%;

}

.boys{
background-color: #5EAAA8;
width: 100%;
margin-top: 20px;

}

h1{
text-align:center;
padding: 12px;
color: #FEFBF3;
font-family:Comic Sans MS;
}

.header ul{
list-style-type: none;
}

.header li{
float: left;
padding: 30px;
color: #D79771;
margin-right: 45px;
text-align: center;
font-size: 25px;
}

img{
 border-radius: 50%;
padding:18px;
}

.header{
background-color: #753422;
height:17%;
margin-bottom: 20px;
}


.header li:hover{
color: #FFEBC9;
}


.children{
background-color: #FDB827;
width: 100%;
margin-top: 20px;
}

.jeans {
background-color: #EC4646;
width: 100%;
margin-top: 20px;
color: #6D9886;}


.dropdown .dropbtn {
  font-size: 25px;  
  border: none;
  outline: none;
  color: #D79771;
  padding: 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 a:hover, .dropdown:hover .dropbtn {
  background-color: #F9D5A7;
}

.dropdown {
  float: left;
overflow: hidden;
 
}


.dropdown-content {
  display: none;
 position: absolute;
  background-color: #f9f9f9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
  }


.header .active {
 color: #FFEBC9;
}


.header a{
color: #D79771;
text-decoration: none;
}

